#Test Executable
nachos/code/test/putstring
nachos/code/test/putchar
nachos/code/test/putchar_nohalt
nachos/code/test/halt
nachos/code/test/matmult
nachos/code/test/shell
nachos/code/test/sort

#Userprog
nachos/code/userprog/nachos
nachos/code/userprog/memory.svg
nachos/code/userprog.abort.svg

# Hidden folder
hidden/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
